.age-confirmation {
    background-color: var(--color-background-primary);

    .age-confirmation__title {
        font-family: "Prata", serif;
        font-size: 41px;
        color: var(--color-text-primary);
    }
    
    .age-confirmation__message {
        font-size: 16px;
        color: var(--color-text-primary);     
    }

    .age-confirmation__buttons {

        .age-confirmation__button {
            font-size: 15px;
            color: var(--color-text-primary);
        }
        
        .age-confirmation__button--no {
            border-radius: 2px;
            border-color: var(--color-text-primary);
            background-color: transparent;
        }
        
        .age-confirmation__button--yes {
            border-radius: 0;
            background-color: var(--color-accent);
        }
    }
}

