@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Imported fonts used on the site
     Rubik - default font          font-family: "Rubik", sans-serif;
     Prata - header font           font-family: "Prata", serif;
     Great Vibes - stylised font   font-family: "Great Vibes", cursive;
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-brownish-burgundy: #261e1c;
    --background-color-brown: #1a1512;
    --background-color-light-brown: #1b1613;
    --element-color-orange: #c8693a;
    --text-color-white: #ffffff;
    --text-color-gray: #898082;
    --font-prata: "Prata", serif;
    --input-background-color-grey: #25211f;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-white);
    background-color: var(--element-color-orange);
}