header {
    background-image: url("../img/global/header-background.jpg");
    background-size: cover;
    background-position: left;
}

.header-nav {
    padding: 30px 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }

    .header-nav__logo {
        width: 176px;
        height: 44px;
    }

    .header-nav__content {
        @media (min-width: 992px) {
            flex-direction: row;
            justify-content: space-around;
            flex: 1;
        }
        
        .header-nav__menu {
            list-style: none;
            display: flex;
            flex-direction: column;

            .header-nav__menu-link {
                color: var(--color-text-primary);
                text-decoration: none;
            }

        }

        .header-nav__social {
            width: 26px;
            display: flex;
            flex-direction: column;

            .header-nav__social-list {
                list-style: none;

                .header-nav__social-item {
                    color: var(--color-accent);
                }

                .svgIcon_1J7 {
                    background-color: transparent;
                    color: var(--color-accent);
                }

                .outer_bDW {
                    fill: currentColor;
                    color: transparent;
                }

                .logo_2gS, .border_2yy {
                    fill: currentColor;
                }
            }
        }
    }
    
}
