header {
    background-image: url("../img/global/header-background.jpg");
    background-size: cover;
    background-position: left;
}

.header-nav {
    padding: 30px 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }

    .header-nav__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex: 1;
            gap: 32px;
            align-items: center;
        }

        .header-nav__logo {
            width: 176px;
            height: 44px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            .header-nav__logo-img {
                width: 100%;
                height: auto;
                object-fit: contain;
                display: block;
            }
        }

        .header-nav__menu {
            list-style: none;
            @media (min-width: 992px) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                flex: 1;
                gap: 15px;
            }

            .header-nav__menu-link {
                color: var(--color-text-primary);
                font-size: 0.875rem;
                text-decoration: none;
            }
        }

        .header-nav__social {
            .header-nav__social-list {
                list-style: none;

                @media (min-width: 992px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    flex: 1;
                    gap: 15px;
                }

                .header-nav__social-item {
                    color: var(--color-accent);
                    width: 26px;
                }

                .svgIcon_1J7 {
                    background-color: transparent;
                    color: var(--color-accent);
                }

                .outer_bDW {
                    fill: currentColor;
                    color: transparent;
                }

                .logo_2gS, .border_2yy {
                    fill: currentColor;
                }
            }
        }
    }
    
}
