.newsletter-section {
    background-color: var(--background-color-brown);
}

.newsletter-section__subtitle {
    font-family: "Great Vibes", cursive;
    font-size: 21px;
    color: var(--element-color-orange);
}

.newsletter-section__title {
    font-family: "Prata", serif;
    font-size: 30px;
    color: var(--text-color-white);
}

.newsletter-section__description {
    font-size: 16px;
    color: var(--text-color-white);
}

.newsletter-form__input,
.newsletter-form__button {
    font-size: 16px; 
    color: var(--text-color-white);
}

.newsletter-form__button {
    background-color: var(--element-color-orange);
}

.newsletter-form__input{
    background-color: var(--input-background-color-grey);
}

