.info-cards {
  background-color: var(--color-background-primary);
  color: var(--color-text-secondary);
  padding: 20px;
}
.info-cards__icon {
  color: var(--color-accent);

.info-cards__icon svg {
  transition: transform 0.6s ease-in-out;
}

.info-cards__icon:hover svg {
  transform: rotate(360deg);
}
}
.info-cards__title {
  font-family: "Prata", serif;
  color: var(--color-text-primary);
  font-size: 22px;
}
.info-cards__description {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
