.cart__header {
	background-color: var(--color-background-primary);
	font-size: 19px;
}

.cart__label {
	.cart__label span {
		color: var(--color-cart-label);
	}
}

.cart__input {
	background-color: var(--color-text-primary);
}
