.history {
    background-color: var(--color-background-primary);
    padding: 20px;
  }
  
  .history__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .history__timeline {
    position: relative;
    padding-left: 20px;
    border-bottom: 2px, solid var(--color-accent);
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;        
      
  }     

  .history__item {
    background-color: var(--color-background-primary);
    margin-bottom: 20px;
   
  }
  
  .history__year {
    font-family: "Rubik", sans-serif, cursive;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: var(--color-accent);
    
  }
  
  .history__title {
    --font-prata: "Prata", serif, cursive;
    font-weight: normal;
    font-size: 22px;
    color: var(--color-text-primary);
        
  }
  
  .history__description {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--color-text-secondary);
    margin: 0;
  }