.faq {
  background-color: var(--color-background-primary);
  padding: 100px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

@media screen and (max-width: 990px) {
  .faq {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
  }
}

@media screen and (max-width: 768px) {
  .faq {
    grid-template-columns: 1fr;
  }

  .faq__image {
    justify-self: center;
    max-width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .faq {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

.faq__title {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  color: var(--color-accent);
  grid-column: 1 / -1;
  justify-self: start;
}

.faq__subtitle {
  font-family: "Prata", serif;
  font-size: 48px;
  color: var(--color-text-primary);
  grid-column: 1 / -1;
  justify-self: start;
}

.faq__logo {
  grid-column: 1 / 2;
  width: 150px;
  margin-bottom: 20px;
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  justify-self: end;
}

.faq__item {
  grid-column: 1 / -1;
  width: 100%;
}

.faq__question {
  font-family: "Prata", serif;
  font-size: 22px;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  position: relative;
  transition: background-color 0.3s ease;
}

.faq__question::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 24px;
  top: 50%;
  transform: translateY(50%);
  transition: transform 1.0s ease;
}

.faq__item--active .faq__question::after {
  content: "−";
}

.faq__answer {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: var(--color-text-secondary);
  background-color: var(--color-background-primary);
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq__item--active .faq__answer {
  padding: 10px 15px;
  max-height: 300px;
}