.faq {
    background-color: var(--color-background-primary);
    padding: 20px;
  }
  
  .faq__title {
    font-family: "Great Vibes", cursive;
    font-size: 28px;
    color: var(--color-accent);
    
    
  }

  .faq__image {
    display: block;
    position: relative;
    left: 1200px;

  }  
  .faq__discription {
  
    display: flex;
    flex-direction: column;
    align-items: center;

    
  }
  
  .faq__subtitle {
    --font-prata: "Prata", serif;
    font-size: 48px;
    color: var(--color-text-primary);
    
  }
  
  .faq__logo {
    display: block;
    margin-bottom: 20px;
  }
  
  .faq__image {
    display: block;
    margin-bottom: 30px;
  }
  
  .faq__question {
    --font-prata: "Prata", serif;
    font-size: 22px;
    font-weight: normal;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    position: relative;
    margin-bottom: 5px;
  }
  
  .faq__question::after {
    content: '\002B'; /* плюс */
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .faq__question--active::after {
    content: '\2212'; /* мінус */
  }
  
  .faq__answer {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0 10px 15px 10px;
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
    display: none;
    overflow: hidden;
    margin-bottom: 10px;
  }