.testimonials {
  background-color: var(--color-background-primary);
  height: 500px;
  background-image: url(../img/testimonials/grape-background.webp);
  background-size: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonials__title {
  font-family: var(--font-accent);
  font-size: 21px;
  color: var(--color-accent);
  text-align: center;
}

.testimonials__subtitle {
  font-family: var(--font-title);
  font-size: 48px;
  color: var(--color-text-primary);
  text-align: center;
}

.testimonials__decoration {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.testimonials__description {
  font-size: 18px;
  color: var(--color-text-primary);
  font-family: var(--font-rubik);
  text-align: center;
}

.testimonials__carousel {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.testimonials__carousel {
  display: flex;
  justify-content: center;
}

.testimonials__feedback-quote {
  font-size: 16px;
  color: var(--color-text-secondary);
  font-family: var(--font-rubik);
}

.testimonials__arrow {
    position: absolute;
    display: block;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-text-primary);
    color: var(--color-input-background);
    border: none;
    font-size: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background 0.3s;
    padding: 7px;
}

.testimonials__arrow--left {
    left: 0;
    transform: scaleX(-1);
}

.testimonials__arrow--right {
    right: 10px;
}