/* Taras Yaremko */

.blog {
  padding: 50px 24px 60px;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);

  .blog__title {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-accent);
    text-align: center;
  }

  .blog__subtitle {
    font-family: var(--font-prata);
    font-size: 34px;
    margin-top: 20px;
    text-align: center;
  }

  .blog__decor {
    margin-top: 25px;
  }

  .blog__decor-img {
    margin: 0 auto;
  }

  .blog__description {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
  }

  .blog__list {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    .blog__item {
      display: grid;

      margin: 50px 0 16px;
      text-decoration-line: none;
    }
  }
}

/* .blog {
    background-color: #261e1c;
    color: #fff;
}

.blog__title {
    font-family: "Great Vibes", cursive;
    font-size: 21px;
    font-weight: 400;
    color: #c8693a;
}

.blog__subtitle {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 41px;
}

.blog__description {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.blog__date {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.blog__item-title {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.blog__excerpt-link {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration-line: none;
} */
