.history {
    background-color: #261e1c;
    padding: 20px;
  }
  
  .history__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .history__item {
    background-color: #261e1c;
    margin-bottom: 20px;
  }
  
  .history__year {
    font-family: "Rubik", sans-serif, cursive;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #c8693a;
    
  }
  
  .history__title {
    font-family: "Prata", serif, cursive;
    font-weight: normal;
    font-size: 22px;
    color: #ffffff;
    
    
  }
  
  .history__description {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #898082;
    margin: 0;
  }