<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine Snacks</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/blog.post.css">
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.nav.partial.html"
      ></nav>
    </header>

    <article class="blog-post">
      <div class="blog-post__image-wrapper">
        <img
          class="blog-post__image"
          src="img/blog/wine-snacks.png"
          alt="Wine Snacks"
        />
      </div>

      <header class="blog-post__header">
        <p class="blog-post__date">26 Jan 2022</p>
        <h1 class="blog-post__title">Wine Snacks</h1>
      </header>

      <div class="blog-post__content">
        <p class="blog-post__paragraph">
          Drinking wine is a whole art. However, to not spoil the taste, you
          need to select snacks carefully. It should be noted that different
          dishes are suitable for red and white wine.
        </p>
        <p class="blog-post__paragraph">
          With dry red wine, everything is relatively simple. First of all, meat
          dishes are suitable – poultry, veal, etc. Mediterranean cuisine is
          also a good choice. For red semi-sweet wines, poultry (for example,
          chicken or turkey) is better. Fatty fish or shrimps with sauce are
          also good options. Sweet wines are best served with fruit, nuts, or
          sweets. Sturgeons will work as well.
        </p>
        <p class="blog-post__paragraph">
          As for white wine, seafood and fish are good options for dry
          varieties. Semi-sweet wine is best served with various types of cheese
          or low-fat sausages. Floury desserts are also a good choice. White
          sweet wine is ideal for desserts. For example, eclairs or some types
          of cakes suit well.
        </p>
      </div>
    </article>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
