<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"></script>
  </head>
  <body>
    <!-- Anna Snitko - Block 1 -->

    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.nav.partial.html"
      ></nav>
    </header>

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.taste-our.partial.html"
    ></section>

    <!-- Andriy Rudavskiy - Block 2 -->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.cards.partial.html"
    ></div>

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.our-wines-special.partial.html"
    ></div>

    <!-- Anna Snitko - Block 4 -->

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.best-deals.partial.html"
    ></section>

    <!-- Ryzhkov Oleksandr - Block 5-->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.history.partial.html"
    ></div>

    <!-- Pankin Nikita - Block 6 -->

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.wine-varieties.partial.html"
    ></section>

    <!-- Maria Rossa - Block 7 -->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="craft-wines.partial.html"
    ></div>

    <!--Pavlo Pylypiuk - Block 10-->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.awards.partial.html"
    ></div>

    <!-- Taras Yaremko - Block 12 -->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.blog.partial.html"
    ></div>

    <!-- Ryzhkov Oleksandr - Block 13-->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.faq.partial.html"
    ></div>

    <!-- Mochalnykov Yurii- Block 14 -->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.Info-cards.partial.html"
    ></div>

    <!-- Andrii Rybak - Block 15 Footer  &  Block 16 Confirmation of age-->

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.confirmation-of-age-modal.partial.html"
    ></div>

    <!-- Iryna Zhmailo - Block 17 -->

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.modal-cart-widget.partial.html"
    ></div>

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.modal-shopping-cart.partial.html"
    ></div>

    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.order-confirmation.partial.html"
    ></div>
  </body>
</html>
