<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wine Store Website</title>
  <link rel="shortcut icon" href="img/global/wine-store-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/index.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Anna Snitko - Block 1 -->

  <header class="header">
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></section>
  </header>

  <!-- Andriy Rudavskiy - Block 2 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.cards.partial.html"></div>

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.our-wines-special.partial.html"></div>

  <!-- Anna Snitko - Block 4 -->

  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.best-deals.partial.html"></section>

  <!-- Ryzhkov Oleksandr - Block 5-->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.history.partial.html"></div>

  <!-- Pankin Nikita - Block 6 -->

  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.wine-varieties.partial.html"></section>

  <!-- Maria Rossa - Block 7 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.craft-wines.partial.html"></div>

  <!-- Valentyn Tymofiiv - Block 9-->
  <section class="w-section">
    <div class="container">
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.wine-offers.partial.html"></div>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.discount-offer.partial.html"></div>
    </div>
  </section>

  <!--Pavlo Pylypiuk - Block 10-->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.awards.partial.html"></div>

  <!-- Vladyslav Savchuk - Block 11 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></div>

  <!-- Taras Yaremko - Block 12 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.blog.partial.html"></div>

  <!-- Ryzhkov Oleksandr - Block 13-->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.faq.partial.html"></div>

  <!-- Mochalnykov Yurii- Block 14 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.info-cards.partial.html"></div>

  <!-- Andrii Rybak - Block 15 Footer + Newsletter section  &  Block 16 Confirmation of age-->
  <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.newsletter-section.partial.html">
  </section>

  <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.confirmation-of-age-modal.partial.html">
  </div>

  <!-- Iryna Zhmailo - Block 17 -->

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.modal-cart-widget.partial.html"></div>

  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.modal-shopping-cart.partial.html"></div>
 <!-- separate page: https://koldovsky.github.io/4239-team-02/order-confirmation.html
  <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="order-confirmation.html"></div>
 -->

  <!-- Valentyn Tymofiiv - Block 18 -->
  <!-- separate page: about-wine.html -->


  <script type="module" src="js/index.js"></script>
</body>

</html>
