<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
</head>
<body>
    <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"></script>

    <!-- Ryzhkov Oleksandr - Block 5-->

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.history.partial.html"></div>

    <!-- Taras Yaremko - Block 12 -->

     <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.blog.partial.html"></div>

    <!-- Ryzhkov Oleksandr - Block 13-->

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.faq.partial.html"></div>

    <!-- Andrii Rybak - Block 15 Footer  &  Block 16 Confirmation of age-->

    <footer data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></footer>

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.confirmation-of-age-modal.partial.html"></div>

    <!-- Iryna Zhmailo - Block 17 -->
      
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.modal-cart-widget.partial.html"></div>

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.modal-shopping-cart.partial.html"></div>

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.order-confirmation.partial.html"></div>
</body>
</html>
